<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="data-container">
            <h2 class="head-title">Space Us HOME</h2>
            <div class="post-area">
                <!-- <div class="post">
                    <div class="profile">
                        <img src="" alt="profile" srcset="">
                    </div>
                    <div class="name">DomAK</div>
                    <div class="caption">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam cum reprehenderit consequuntur porro impedit eveniet atque voluptatum nihil voluptate accusantium quia, fugiat excepturi iusto sint tempora sequi mollitia blanditiis tenetur.</div>
                    <div class="pic">
                        <img src="" alt="posted pic">
                    </div>

                    <div class="activity">
                        <div class="love">Love</div>
                        <div class="interested">interested</div>
                        <div class="save">Save Self</div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
    <script type="module" src="app.js"></script>
</body>
</html>