<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            display: block;
            height: 50px;
            width: 50%;
            margin: auto;
        }
        input[type=button]{
            width: 40%;
        }
    </style>
</head>
<body>
    <form>
        <input type="text" name="caption" id="caption" placeholder="Caption">
        <input type="file" name="image" id="image">
        <input type="button" value="Upload" id="upload">
    </form>
    <script>
        const upload = document.getElementById("upload");
        upload.addEventListener("click", ()=>{
            let caption = document.getElementById("caption");
            let image = document.getElementById("image");
            
            //append into form data api
            const form_data = new FormData();
            form_data.append("caption", caption.value);
            form_data.append("image", image.files[0]);

            console.log(form_data);
            // fetch to the server end point 
            fetch("http://127.0.0.1:5000/post/upload_post", {
                method: "POST",
                body: form_data
            }).then((response)=>{
                if(response.status === 200){
                    console.log("Send fine");
                }
                return response.json();
            }).then((data)=>{
                console.log(data);
            }).then((error)=>{
                console.error("Error: ", error);
            });
        });

    </script>
</body>
</html>